* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  /* color: azure; */
}
body {
  position: relative;
  background-color: rgb(11, 11, 31);
}

/* ! -------ADMIN------  */
.admin {
  width: 60%;
  display: flex;
  justify-content: space-evenly;

  /* width: 100%; */
}

.admin button {
  background-color: rgb(209, 49, 49);
  height: 30px;

  /* !----------- CARDS-------------- */
}

.users {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.user-n {
  position: relative;
  width: 220px;
  height: 540px;
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
  margin: 20px;
  color: black;
  box-shadow: 10px black salmon;
  border: 2px rgba(255, 255, 255, 0) solid;
}

.user-n:hover {
  border: 2px white solid;
  transition: 0.8s;
}

.user-n img {
  border-radius: 15px;
  margin: 0 auto;
  width: 100%;
  height: 65%;
}
.user-n h6 {
  background-color: #fff;
  margin: 5px;
  margin-left: 15px;
  font-size: small;
  font-weight: 500;
  text-transform: uppercase;
  color: black;
  text-align: start;
}
.user-n h5 {
  margin-left: 30px;
  background-color: #fff;
  margin: 10px;
  font-size: large;
  font-weight: 500;
  text-transform: uppercase;
  text-align: start;
  color: black;
}
#last {
  margin-bottom: 20px;
}
.hide {
  display: none;
}

#inp {
  margin: 30px 5%;
  text-align: center;
  width: 700px;
  height: 50px;
  border-radius: 5px;
  /* margin-right: 5vw; */
  border: none;
  border-radius: 40px;
}
.add {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-bottom: 60px; */
}
.addList {
  height: 50px;
  width: 300px;
  /* margin-left: 5%; */
  border-radius: 40px;
  border: none;
  color: azure;
  background-color: rgb(36, 161, 90);
  margin-right: 15px;
}
.addList:hover {
  background-color: rgb(46, 199, 112);

  /* ! ------------------- MODAL --------------------- */
}
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 40%;
  top: 15%;
  width: 350px;
  height: 550px;
  background-color: rgb(2, 55, 116);
  display: none;
  border-radius: 15px;
}
.modal h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.modaldiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.modal input {
  text-align: center;
  height: 30px;
  border: none;
  border-radius: 5px;
  width: 250px;
  margin: 10px auto;
}
.modal button {
  width: 200px;
  height: 30px;
  margin: 10px auto;
  border: none;
  border-radius: 5px;
}
.addMovie {
  background-color: rgb(36, 161, 90);
}
.closeModal {
  background-color: rgb(209, 49, 49);
}

.btn_model_close {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 8%;
  top: 2%;
  border-radius: 200%;
  border: none;
  background-image: url(../images/cancel.svg);
  background-color: none;
  background-size: cover;
  display: none;
}

.btn_model_close:hover {
  background-color: rgb(209, 49, 49);
}

.user-n:hover .btn_model_close {
  display: block;
  transition: 0.6s;
}

.btn_model_edit {
  height: 40px;
  width: 120px;
  position: absolute;
  right: 35%;
  top: 2%;
  border-radius: 50px;
  border: none;
  display: none;
}

.user-n:hover .btn_model_edit {
  display: block;
  transition: 0.4s;
}

.btn_model_edit:hover {
  background-color: rgb(36, 161, 90);
  transition: 1s;
  color: white;
  border: 1px solid white;
}

.modal_block_edit {
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 40%;
  top: 15%;
  width: 350px;
  height: 550px;
  background-color: rgb(4, 62, 137);
  display: none;
  border-radius: 15px;
}
.modal_block_edit h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.edit_block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit_block input {
  text-align: center;
  height: 30px;
  border: none;
  border-radius: 5px;
  width: 250px;
  margin: 10px auto;
}

.edit_block button {
  width: 200px;
  height: 30px;
  margin: 10px auto;
  border: none;
  border-radius: 5px;
}

.editMovie {
  background-color: rgb(36, 161, 90);
}
.closeModal_edit {
  background-color: rgb(209, 49, 49);
}

.blockcard {
  width: 200px;
  height: 400px;
  margin: 50px;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination button {
  width: 150px;
  height: 40px;
  margin: 40px 10px;
  border-radius: 40px;
  border: none;
  background-color: rgb(36, 161, 90);
  color: azure;
  text-transform: uppercase;
}

/** start style filter buttons */

.filter_btns {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  margin: 3em auto 6em;
}
.filter_btn {
  width: 180px;
  height: 50px;
  background-color: white;
  border: 2px solid;
  transition: 0.3s;
  border-radius: 40px;
}
.filter_btn:hover {
  background-color: rgb(36, 161, 90);
  color: white;
}
/** end style filter buttons */

/* ! ------------------ MODAL DETAILS ----------------------- */
#modal {
  display: none;
  justify-content: space-between;
  width: 800px;
  height: 600px;
  border: 3px solid white;
  position: fixed;
  top: 10%;
  left: 23%;
  background-color: #fff;
}
.modalImg {
  width: 50%;
}
.modalImg img {
  width: 100%;
  height: 100%;
}

#modalRight {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  width: 50%;
}

#modalRight h2 {
  font-size: 26px;
  margin: 60px 0 15px 0;
}

#modalRight h3 {
  font-weight: 500;
  font-size: 30px;
  margin: 15px;
}

#modalRight p {
  max-width: 80%;
  margin-bottom: 5px;
  font-size: 20px;
  margin: 15px;
  text-align: center;
}

#closeBtn {
  margin-top: 10px;
  height: 40px;
  width: 40px;
  border-radius: 200%;
  border: none;
  background-image: url(../images/cancel.svg);
  background-color: none;
  background-size: cover;
}
footer {
  background-color: rgb(203, 203, 211);
}
.wrapper {
  width: 100%;
  padding: 100px 210px;
  display: flex;
}
.text_politics {
  padding-top: 60px;
  height: 65px;
}
.footer_links {
  display: flex;
  width: 380px;
  justify-content: space-between;
  padding-left: 80px;
}
.wrapper p {
  margin: 0;
  padding: 0;
}
.text_politics p {
  padding: 8px 0;
  font-size: 13px;
}

.clothes {
  padding-top: 40px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_links p:hover {
  color: #6e9c9f;
  cursor: pointer;
  /* font-size: 15px;
  font-weight: bold; */
}

.block_2 {
  padding-left: 180px;
  text-align: end;
}
.clothes p {
  font-size: 13px;
}
.social {
  width: 100px;
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-top: 30px;
}
.img_master {
  padding-top: 30px;
}
.block_2 p:nth-child(2) {
  padding-top: 10px;
}

/* !ADMIN MODAL */

.modal_admin {
  display: flex;
  position: fixed;
  top: 8%;
  left: 10%;
  justify-content: center;
  flex-direction: column;
  background-color: aliceblue;
  width: 80%;
  border-radius: 15px;
  margin-bottom: 40px;
  display: none;
}
.modalAdmin_top {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
#close_admimmodal {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 2vh;
  right: 2vw;
  border-radius: 200%;
  border: none;
  background-image: url(../images/cancel.svg);
  background-color: aliceblue;
  background-size: cover;
}
.modalAdmin_top h3 {
  text-transform: uppercase;
  margin-top: 3%;
  font-size: 30px;
}
.modalAdmin_bot {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modalAdmin_bot button {
  border: none;
  width: 150px;
  height: 40px;
  margin: 40px 10px;
  border-radius: 40px;
  border: none;
  background-color: rgb(36, 161, 90);
  color: azure;
  text-transform: uppercase;
}
.modalAdmin_bot input {
  margin: 30px 5%;
  text-align: center;
  width: 700px;
  height: 50px;
  border-radius: 5px;
  border: none;
  border-radius: 40px;
}
#admin_entries {
  width: 180px;
  height: 30px;
  background-color: rgb(209, 49, 49);
  border: 2px solid;
  transition: 0.3s;
  border-radius: 40px;
}
#admin_entries:hover {
  background-color: rgb(36, 161, 90);
  color: aliceblue;
  border: 1px solid aliceblue;
}
/* ! -------SLIDER-------------- */
.block_slider {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
}
.block_slider button {
  border-radius: 90px;
  width: 70px;
  height: 70px;
  border: none;
}
.block_slider button:hover {
  background-color: rgb(36, 161, 90);
  border: #fff 2px solid;
}

.sliderLine {
  display: flex;
  align-items: center;
}

.sliderImage {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  border-radius: 15px;
  border: #fff solid 2px;
}
.sliderContainer {
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
}
.block_slider button {
  margin: 20px;
}

/* ! ---------------- ADAPTIVE--------------------- */
@media all and (max-width: 1100px) {
  #modal {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 500px;
    border: 3px solid white;
    position: fixed;
    top: 10%;
    left: 15%;
    background-color: #fff;
  }
  #modalRight h2 {
    font-size: 13px;
    /* margin: 60px 0 15px 0; */
  }

  #modalRight h3 {
    font-weight: 500;
    font-size: 20px;
    /* margin: 10px; */
  }

  #modalRight p {
    /* max-width: 80%; */
    margin-bottom: 5px;
    font-size: 13px;
    /* margin: 15px; */
    text-align: center;
  }
  .modalImg {
    display: none;
  }
  #modalRight {
    width: 100%;
  }
  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 4%;
    top: 1%;
    width: 300px;
    height: 550px;
    background-color: rgb(2, 55, 116);
    display: none;
    border-radius: 15px;
  }
}
/* * На меленьких экранах убрали все кнопки редактирования и удаления а так же скрыли постер  */
@media all and (max-width: 380px) {
  #modal {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 500px;
    border: 3px solid white;
    position: fixed;
    top: 10%;
    left: 10%;
    background-color: #fff;
  }
  #modalRight h2 {
    font-size: 13px;
    /* margin: 60px 0 15px 0; */
  }

  #modalRight h3 {
    font-weight: 500;
    font-size: 20px;
    /* margin: 10px; */
  }

  #modalRight p {
    /* max-width: 80%; */
    margin-bottom: 5px;
    font-size: 13px;
    /* margin: 15px; */
    text-align: center;
  }
  .modalImg {
    display: none;
  }
  #modalRight {
    width: 100%;
  }
  .user-n:hover .btn_model_edit {
    display: none;
  }
  .user-n:hover .btn_model_close {
    display: none;
  }
}

@media all and (max-width: 320px) {
  #modal {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 500px;
    border: 3px solid white;
    position: fixed;
    top: 10%;
    left: 2.5%;
    background-color: #fff;
  }
  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 4%;
    top: 1%;
    width: 300px;
    height: 550px;
    background-color: rgb(2, 55, 116);
    display: none;
    border-radius: 15px;
  }
  .user-n:hover .btn_model_edit {
    display: none;
  }
  .user-n:hover .btn_model_close {
    display: none;
  }
}
